@use '@util' as *;

.footer {
  padding-top: 24px;
  padding-bottom: 40px;
  background: linear-gradient(180deg, rgba(25, 30, 44, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), #191E2C;

  @include tablet-up {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  * {
    color: $white;
  }

  &__top {
    position: relative;
    margin-bottom: 40px;

    @include breakpoint-up(1140px) {
      margin-bottom: 76px;
    }
  }

  &__bottom {
    @include tablet-up {
      display: flex;
      gap: 16px;
    }
  }

  &__column {
    @include tablet-up {
      @include make-col(4);
    }

    @include tablet-down {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include breakpoint-up(1140px) {
      display: flex;
      gap: 24px;
    }

    h2 {
      margin-bottom: 8px;
    }

    p,
    li {
      margin-bottom: 16px;
      font-family: $body-text;
      font-size: 18px;
      font-weight: 300;
      line-height: 120%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__logo {
    margin-bottom: 40px;

    @include breakpoint-up(1140px) {
      position: absolute;
      left: 0;
      top: -40px;
    }
  }

  &__description {
    @include  breakpoint-up(1140px) {
      margin-top: 40px;
      text-align: center;
    }

    p {
      font-size: 20px;
      font-weight: 300;
      font-family: $body-text;
    }
  }

  &__address-item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}