// Open Sans - Local Font Definitions
// Downloaded from Google Fonts and hosted locally for performance, privacy, and reliability

// Open Sans Regular - 400
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/OpenSans-Regular-400.ttf') format('truetype');
}

// Open Sans Medium - 500
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/OpenSans-Regular-500.ttf') format('truetype');
}

// Open Sans SemiBold - 600
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/OpenSans-Regular-600.ttf') format('truetype');
}

// Open Sans Bold - 700
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/OpenSans-Regular-700.ttf') format('truetype');
}

// Open Sans Italic - 400
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/OpenSans-Italic-400.ttf') format('truetype');
}

// Open Sans Italic Medium - 500
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/OpenSans-Italic-500.ttf') format('truetype');
}

// Open Sans Italic SemiBold - 600
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/OpenSans-Italic-600.ttf') format('truetype');
}

// Open Sans Italic Bold - 700
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/OpenSans-Italic-700.ttf') format('truetype');
}
