<!-- Default Input -->
<h3 class="spacer-top-2x spacer-bottom-2x"> Default Input </h3>
<div class="input-group">
  <label>Label</label>
  <input type="text" placeholder="Placeholder Text">
  <p class="input-help-text">Help Text</p>
</div>

<!-- Search Input -->
<h3 class="spacer-top-2x spacer-bottom-2x"> Search Input </h3>
<div class="input-group">
  <label>Label</label>
  <input type="search" placeholder="Placeholder Text">
  <p class="input-help-text">Help Text</p>
</div>

<!-- Input Group with Error -->
<h3 class="spacer-top-6x spacer-bottom-2x"> Input - Error </h3>
<div class="input-group input-group--error">
  <label>Label</label>
  <input type="text" placeholder="Search">
  <p class="input-help-text">Help Text</p>
</div>

<!-- Input Group with Success -->
<h3 class="spacer-top-6x spacer-bottom-2x"> Input - Success </h3>
<div class="input-group input-group--success">
  <label>Label</label>
  <input type="text" placeholder="Search">
  <p class="input-help-text">Help Text</p>
</div>

<!-- Select -->
<h3 class="spacer-top-6x spacer-bottom-2x"> Select </h3>
<div class="input-group input-group--success">
  <label>Label</label>
  <select name="" id="">
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
  </select>
</div>

<!-- Checkbox Group -->
<h3 class="spacer-top-6x spacer-bottom-2x"> Checkbox </h3>
<div class="checkbox-group">
  <input type="checkbox" id="consent" name="consent" value="consent">
  <label for="consent" tabindex="1">I consent to the terms and conditions.</label><br>
</div>

<!-- Radio Group -->
<h3 class="spacer-top-6x spacer-bottom-2x"> Radio </h3>
<div class="radio-group">
  <input type="radio" id="consent-radio" name="consent-radio" value="consent-radio">
  <label for="consent-radio">I consent to the terms and conditions.</label><br>
</div>
<div class="radio-group">
  <input type="radio" id="consent-radio-2" name="consent-radio" value="consent-radio">
  <label for="consent-radio">I consent to the terms and conditions.</label><br>
</div>